## Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto

## CAPSTONE PROJECT - PART ONE

In [266]:
from bs4 import BeautifulSoup
import requests

import pandas as pd
import numpy as np

import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans

import folium

In [267]:
website_url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

#### Scrape the Wikipedia page and transform the data into a pandas dataframe

To scrape wikipedia page I used library BeautifulSoup

In [268]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(website_url,'lxml')
#print(soup.prettify())

In [269]:

data = []
columns = []

My_table = soup.find('table',{'class':'wikitable'})

for index, tr in enumerate(My_table.find_all('tr')):
    section = []
    for td in tr.find_all(['th','td']):
        section.append(td.text.rstrip('\n'))
    
#First row as header
    if (index == 0):
        columns = section
    else:
        data.append(section)
        
#converting to Pandas DataFrame
df = pd.DataFrame(data = data,columns = columns)

#change in header
df = df.rename(columns = {'Postal code':'PostalCode'})


df.head()

  PostalCode           Borough                Neighborhood
0        M1A      Not assigned
1        M2A      Not assigned
2        M3A        North York                   Parkwoods
3        M4A        North York            Victoria Village
4        M5A  Downtown Toronto  Regent Park / Harbourfront

#### Dataframe clean-up:

In [270]:
#These two rows will be combined into one row with the neighborhoods separated with a comma 
df['Neighborhood'] = df.groupby('PostalCode')['Neighborhood'].transform(lambda neigh: ', '.join(neigh))

In [271]:
# Ignore cells with a borough that is Not assigned.
df = df[df['Borough'] != 'Not assigned']

#update index to be postcode
if(df.index.name != 'PostalCode'):
    df = df.set_index('PostalCode')
df.head()

                     Borough                                  Neighborhood
PostalCode
M3A               North York                                     Parkwoods
M4A               North York                              Victoria Village
M5A         Downtown Toronto                    Regent Park / Harbourfront
M6A               North York             Lawrence Manor / Lawrence Heights
M7A         Downtown Toronto  Queen's Park / Ontario Provincial Government

In [272]:
#drop duplicates
df = df.drop_duplicates()

#### Final dataframe for Project Part One:

In [273]:
#final dataframe head   
df.head(10)

                     Borough                                  Neighborhood
PostalCode
M3A               North York                                     Parkwoods
M4A               North York                              Victoria Village
M5A         Downtown Toronto                    Regent Park / Harbourfront
M6A               North York             Lawrence Manor / Lawrence Heights
M7A         Downtown Toronto  Queen's Park / Ontario Provincial Government
M9A                Etobicoke                              Islington Avenue
M1B              Scarborough                               Malvern / Rouge
M3B               North York                                     Don Mills
M4B                East York              Parkview Hill / Woodbine Gardens
M5B         Downtown Toronto                      Garden District, Ryerson

Used the .shape method to print the number of rows of dataframe:

In [274]:
df.shape

(98, 2)

## CAPSTONE PROJECT - PART TWO

In [275]:
import geocoder
import json

!pip install geopy
from geopy.geocoders import Nominatim

Requirement already satisfied: geopy in c:\users\martawa\anaconda3\lib\site-packages (1.21.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\martawa\anaconda3\lib\site-packages (from geopy) (1.50)

I wasn't able to get the geographical coordinates of the neighborhoods using the Geocoder package. I used csv file that has the geographical coordinates of each postal code: http://cocl.us/Geospatial_data

In [276]:
data_url='http://cocl.us/Geospatial_data'
df_2=pd.read_csv(data_url)
df_2.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#### Final Dataframe for Project - Part two

linked tables below:

In [277]:
#change in header
df_2=df_2.rename(columns = {'Postal Code':'PostalCode'})

#merge tables 
df_final=pd.merge(df, df_2, how='right', on = 'PostalCode')
df_final.head(12)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,Regent Park / Harbourfront,43.654260,-79.360636
3,M6A,North York,Lawrence Manor / Lawrence Heights,43.718518,-79.464763
4,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government,43.662301,-79.389494
5,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
6,M1B,Scarborough,Malvern / Rouge,43.806686,-79.194353
7,M3B,North York,Don Mills,43.745906,-79.352188
8,M4B,East York,Parkview Hill / Woodbine Gardens,43.706397,-79.309937
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937
10,M6B,North York,Glencairn,43.709577,-79.445073
11,M9B,Etobicoke,West Deane Park / Princess Gardens / Martin Gr...,43.650943,-79.554724

## CAPSTONE PROJECT - PART TREE

Goal of the project: Explore and cluster the neighborhoods in Toronto.

In [278]:

address = 'Toronto, Ontario'

geolocator = Nominatim()
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Toronto, Canada are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Toronto, Canada are 43.6534817, -79.3839347.

C:\Users\martawa\anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: Using Nominatim with the default "geopy/1.21.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  This is separate from the ipykernel package so we can avoid doing imports until

Data frame for Downtown Toronto

In [279]:
toronto_df = df_final[df_final['Borough'] == 'Downtown Toronto'].reset_index(drop=True)
toronto_df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M5A,Downtown Toronto,Regent Park / Harbourfront,43.654260,-79.360636
1,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government,43.662301,-79.389494
2,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937
3,M5C,Downtown Toronto,St. James Town,43.651494,-79.375418
4,M5E,Downtown Toronto,Berczy Park,43.644771,-79.373306

Foursquare Credentials and Version

In [ ]:
CLIENT_ID = '***' # your Foursquare ID
CLIENT_SECRET = '***' # your Foursquare Secret
VERSION = '20180604'
LIMIT = 100
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

### Exploring Neighborhoods in Toronto

In [281]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [282]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        try:
            results = requests.get(url).json()["response"]['groups'][0]['items']
        except:
            print("ERROR: ", url)        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

Creating new data frame: toronto_vanues

In [283]:

toronto_venues = getNearbyVenues(names=toronto_df['Neighborhood'],
                                   latitudes=toronto_df['Latitude'],
                                   longitudes=toronto_df['Longitude']
                                  )

print(toronto_venues.shape)
toronto_venues.head()

Regent Park / Harbourfront
Queen's Park / Ontario Provincial Government
Garden District, Ryerson
St. James Town
Berczy Park
Central Bay Street
Christie
Richmond / Adelaide / King
Harbourfront East / Union Station / Toronto Islands
Toronto Dominion Centre / Design Exchange
Commerce Court / Victoria Hotel
University of Toronto / Harbord
Kensington Market / Chinatown / Grange Park
CN Tower / King and Spadina / Railway Lands / Harbourfront West / Bathurst
 Quay / South Niagara / Island airport
Rosedale
Stn A PO Boxes
St. James Town / Cabbagetown
First Canadian Place / Underground city
Church and Wellesley
(1284, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Regent Park / Harbourfront,43.65426,-79.360636,Roselle Desserts,43.653447,-79.362017,Bakery
1,Regent Park / Harbourfront,43.65426,-79.360636,Tandem Coffee,43.653559,-79.361809,Coffee Shop
2,Regent Park / Harbourfront,43.65426,-79.360636,Cooper Koo Family YMCA,43.653249,-79.358008,Distribution Center
3,Regent Park / Harbourfront,43.65426,-79.360636,Body Blitz Spa East,43.654735,-79.359874,Spa
4,Regent Park / Harbourfront,43.65426,-79.360636,Morning Glory Cafe,43.653947,-79.361149,Breakfast Spot

information how many venues were returned for each neighborhood

In [284]:
toronto_venues.groupby('Neighborhood').count()

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighborhood,,,,,,
Berczy Park,57,57,57,57,57,57
CN Tower / King and Spadina / Railway Lands / Harbourfront West / Bathurst\n Quay / South Niagara / Island airport,16,16,16,16,16,16
Central Bay Street,76,76,76,76,76,76
Christie,17,17,17,17,17,17
Church and Wellesley,79,79,79,79,79,79
Commerce Court / Victoria Hotel,100,100,100,100,100,100
First Canadian Place / Underground city,100,100,100,100,100,100
"Garden District, Ryerson",100,100,100,100,100,100
Harbourfront East / Union Station / Toronto Islands,100,100,100,100,100,100
Kensington Market / Chinatown / Grange Park,75,75,75,75,75,75
Queen's Park / Ontario Provincial Government,34,34,34,34,34,34
Regent Park / Harbourfront,46,46,46,46,46,46
Richmond / Adelaide / King,100,100,100,100,100,100
Rosedale,4,4,4,4,4,4
St. James Town,100,100,100,100,100,100
St. James Town / Cabbagetown,48,48,48,48,48,48
Stn A PO Boxes,97,97,97,97,97,97
Toronto Dominion Centre / Design Exchange,100,100,100,100,100,100
University of Toronto / Harbord,35,35,35,35,35,35

information how many unique categories can be curated from all the returned venues

In [285]:
print('There are {} uniques categories.'.format(len(toronto_venues['Venue Category'].unique())))

There are 204 uniques categories.

Analytics for Each Neighborhood

In [286]:
# one hot encoding
toronto_onehot = pd.get_dummies(toronto_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
toronto_onehot['Neighborhood'] = toronto_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [toronto_onehot.columns[-4]] + list(toronto_onehot.columns[:-1])
toronto_onehot = toronto_onehot[fixed_columns]

toronto_onehot.head()

,Wine Bar,Afghan Restaurant,Airport,Airport Food Court,Airport Lounge,Airport Service,Airport Terminal,American Restaurant,Antique Shop,Aquarium,...,Theater,Theme Restaurant,Trail,Train Station,Vegetarian / Vegan Restaurant,Video Game Store,Vietnamese Restaurant,Wine Bar,Wings Joint,Women's Store
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [287]:
toronto_onehot.shape

(1284, 204)

In [288]:
toronto_grouped = toronto_onehot.groupby('Neighborhood').mean().reset_index()
toronto_grouped.tail()

,Neighborhood,Wine Bar,Afghan Restaurant,Airport,Airport Food Court,Airport Lounge,Airport Service,Airport Terminal,American Restaurant,Antique Shop,...,Theater,Theme Restaurant,Trail,Train Station,Vegetarian / Vegan Restaurant,Video Game Store,Vietnamese Restaurant,Wine Bar,Wings Joint,Women's Store
14,St. James Town,0.01,0.0,0.0,0.0,0.0,0.0,0.0,0.030000,0.000000,...,0.010000,0.0,0.0,0.00,0.010000,0.000000,0.0,0.01,0.0,0.0
15,St. James Town / Cabbagetown,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.020833,0.000000,...,0.000000,0.0,0.0,0.00,0.000000,0.000000,0.0,0.00,0.0,0.0
16,Stn A PO Boxes,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.010309,0.010309,...,0.000000,0.0,0.0,0.00,0.010309,0.000000,0.0,0.00,0.0,0.0
17,Toronto Dominion Centre / Design Exchange,0.01,0.0,0.0,0.0,0.0,0.0,0.0,0.030000,0.000000,...,0.010000,0.0,0.0,0.01,0.010000,0.000000,0.0,0.01,0.0,0.0
18,University of Toronto / Harbord,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.028571,0.0,0.0,0.00,0.000000,0.028571,0.0,0.00,0.0,0.0

Printing top 3 venues for each neighborhood:

In [289]:
num_top_venues = 3

for hood in toronto_grouped['Neighborhood']:
    print("----"+hood+"----")
    temp = toronto_grouped[toronto_grouped['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(3))

----Berczy Park----
          venue  freq
0   Coffee Shop  0.11
1  Cocktail Bar  0.05
2        Bakery  0.04
----CN Tower / King and Spadina / Railway Lands / Harbourfront West / Bathurst
 Quay / South Niagara / Island airport----
              venue  freq
0   Airport Service  0.19
1    Airport Lounge  0.12
2  Airport Terminal  0.12
----Central Bay Street----
                venue  freq
0         Coffee Shop  0.18
1  Italian Restaurant  0.05
2                Caf  0.05
----Christie----
           venue  freq
0  Grocery Store  0.24
1           Caf  0.18
2           Park  0.12
----Church and Wellesley----
                 venue  freq
0          Coffee Shop  0.06
1              Gay Bar  0.05
2  Japanese Restaurant  0.05
----Commerce Court / Victoria Hotel----
         venue  freq
0  Coffee Shop  0.12
1   Restaurant  0.07
2         Caf  0.07
----First Canadian Place / Underground city----
         venue  freq
0  Coffee Shop  0.12
1         Caf  0.07
2   Restaurant  0.06
----Garden District, Ryerson----
            venue  freq
0  Clothing Store  0.09
1     Coffee Shop  0.08
2            Caf  0.03
----Harbourfront East / Union Station / Toronto Islands----
         venue  freq
0  Coffee Shop  0.12
1     Aquarium  0.05
2        Hotel  0.04
----Kensington Market / Chinatown / Grange Park----
                   venue  freq
0                   Caf  0.07
1  Vietnamese Restaurant  0.05
2            Coffee Shop  0.05
----Queen's Park / Ontario Provincial Government----
         venue  freq
0  Coffee Shop  0.24
1        Diner  0.06
2   Hobby Shop  0.03
----Regent Park / Harbourfront----
         venue  freq
0  Coffee Shop  0.15
1         Park  0.07
2       Bakery  0.07
----Richmond / Adelaide / King----
         venue  freq
0  Coffee Shop  0.09
1   Restaurant  0.06
2         Caf  0.05
----Rosedale----
        venue  freq
0        Park  0.50
1  Playground  0.25
2       Trail  0.25
----St. James Town----
          venue  freq
0   Coffee Shop  0.07
1          Caf  0.05
2  Cocktail Bar  0.04
----St. James Town / Cabbagetown----
         venue  freq
0  Pizza Place  0.06
1         Caf  0.06
2  Coffee Shop  0.06
----Stn A PO Boxes----
                venue  freq
0         Coffee Shop  0.13
1  Seafood Restaurant  0.04
2                Caf  0.04
----Toronto Dominion Centre / Design Exchange----
         venue  freq
0  Coffee Shop  0.15
1        Hotel  0.07
2         Caf  0.07
----University of Toronto / Harbord----
        venue  freq
0        Caf  0.14
1   Bookstore  0.06
2  Restaurant  0.06

Data in dataframe:

In [290]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

Dataframe for top 5 venues:

In [291]:
num_top_venues = 5

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = toronto_grouped['Neighborhood']

for ind in np.arange(toronto_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(toronto_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
0,Berczy Park,Coffee Shop,Cocktail Bar,Farmers Market,Cheese Shop,Bakery
1,CN Tower / King and Spadina / Railway Lands / ...,Airport Service,Airport Lounge,Airport Terminal,Boutique,Sculpture Garden
2,Central Bay Street,Coffee Shop,Italian Restaurant,Caf,Sandwich Place,Japanese Restaurant
3,Christie,Grocery Store,Caf,Park,Baby Store,Coffee Shop
4,Church and Wellesley,Coffee Shop,Gay Bar,Japanese Restaurant,Restaurant,Sushi Restaurant

### Clustering

Runing *k*-means to cluster the neighborhood into 5 clusters.

In [292]:
# set number of clusters
kclusters = 5

toronto_grouped_clustering = toronto_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(toronto_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([2, 0, 4, 3, 2, 2, 2, 2, 2, 2])

Creating a new dataframe that includes the cluster as well as the top 10 venues for each neighborhood.

In [293]:
# add clustering labels
neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

toronto_merged = toronto_df

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
toronto_merged = toronto_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')

toronto_merged.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
0,M5A,Downtown Toronto,Regent Park / Harbourfront,43.654260,-79.360636,2,Coffee Shop,Bakery,Park,Pub,Restaurant
1,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government,43.662301,-79.389494,4,Coffee Shop,Diner,Park,Italian Restaurant,Caf
2,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937,2,Clothing Store,Coffee Shop,Caf,Middle Eastern Restaurant,Bubble Tea Shop
3,M5C,Downtown Toronto,St. James Town,43.651494,-79.375418,2,Coffee Shop,Caf,Italian Restaurant,Restaurant,Cocktail Bar
4,M5E,Downtown Toronto,Berczy Park,43.644771,-79.373306,2,Coffee Shop,Cocktail Bar,Farmers Market,Cheese Shop,Bakery

Results Visualization:

In [300]:
# create map
import folium 

map_clusters = folium.Map(location=[latitude, longitude], zoom_start=13)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(toronto_merged['Latitude'], toronto_merged['Longitude'], toronto_merged['Neighborhood'], toronto_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

### Examining Clusters

In [301]:
#Cluster 1
toronto_merged.loc[toronto_merged['Cluster Labels'] == 0, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

,Borough,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
13,Downtown Toronto,0,Airport Service,Airport Lounge,Airport Terminal,Boutique,Sculpture Garden

In [302]:
#Cluster 2
toronto_merged.loc[toronto_merged['Cluster Labels'] == 1, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

,Borough,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
14,Downtown Toronto,1,Park,Trail,Playground,Dance Studio,Dumpling Restaurant

In [303]:
#Cluster 3
toronto_merged.loc[toronto_merged['Cluster Labels'] == 2, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

,Borough,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
0,Downtown Toronto,2,Coffee Shop,Bakery,Park,Pub,Restaurant
2,Downtown Toronto,2,Clothing Store,Coffee Shop,Caf,Middle Eastern Restaurant,Bubble Tea Shop
3,Downtown Toronto,2,Coffee Shop,Caf,Italian Restaurant,Restaurant,Cocktail Bar
4,Downtown Toronto,2,Coffee Shop,Cocktail Bar,Farmers Market,Cheese Shop,Bakery
7,Downtown Toronto,2,Coffee Shop,Restaurant,Caf,Gym,Bakery
8,Downtown Toronto,2,Coffee Shop,Aquarium,Caf,Hotel,Italian Restaurant
9,Downtown Toronto,2,Coffee Shop,Caf,Hotel,Restaurant,Bar
10,Downtown Toronto,2,Coffee Shop,Restaurant,Caf,Hotel,American Restaurant
11,Downtown Toronto,2,Caf,Restaurant,Bar,Italian Restaurant,Japanese Restaurant
12,Downtown Toronto,2,Caf,Coffee Shop,Vietnamese Restaurant,Dumpling Restaurant,Mexican Restaurant
15,Downtown Toronto,2,Coffee Shop,Caf,Restaurant,Seafood Restaurant,Beer Bar
16,Downtown Toronto,2,Coffee Shop,Pizza Place,Caf,Restaurant,Pub
17,Downtown Toronto,2,Coffee Shop,Caf,Restaurant,Seafood Restaurant,American Restaurant
18,Downtown Toronto,2,Coffee Shop,Gay Bar,Japanese Restaurant,Restaurant,Sushi Restaurant

In [304]:
#Cluster 4
toronto_merged.loc[toronto_merged['Cluster Labels'] == 3, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

,Borough,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
6,Downtown Toronto,3,Grocery Store,Caf,Park,Baby Store,Coffee Shop

In [305]:
#Cluster 5
toronto_merged.loc[toronto_merged['Cluster Labels'] == 4, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

,Borough,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
1,Downtown Toronto,4,Coffee Shop,Diner,Park,Italian Restaurant,Caf
5,Downtown Toronto,4,Coffee Shop,Italian Restaurant,Caf,Sandwich Place,Japanese Restaurant